/* ---- GALERIA ----- */
main {
  .titulo-galeria {
    font-size: 3rem;
  }

  .galeria a {
    cursor: pointer;
  }

  .galeria img:hover {
    transform: scale(1.01);
  }
  .btnModal{
    cursor: pointer;
  }
  .btnModal:hover{
    transform: scale(1.1);
  }
}
