:root {
  --fuentePPal: "Poppins", sans-serif;
  --FuenteSec: 'Vollkorn SC', serif;
  --fuenteTer: 'Mochiy Pop P One', sans-serif;
  --bgamarillo: #f3d52e;
  --bgfooter: #d9004b;
  --blanco: #ffffff;
  --negro: #000000;
  --fuente: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*declaracion importante*/
html {
  box-sizing: border-box;
  color: var(--negro);
}

body {
  background-color: var(--bgamarillo);
  font-family: var(--fuentePPal);
}

h2 {
  font-family: var(--fuenteTer);
}




/* ---------- INICIO HEADER ------------- */
/* ---------- inicio .header_arriba */

.header__arriba{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 3rem 0 3rem;
}

.header__link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-family: var(--FuenteSec);
  font-size: 1.2rem;
}

.header__link:hover{
  transition: 1s;
  transform: scale(1.1);
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 8rem;
  height: 8rem;
}

header h1 {
  text-align: center;
}

.header__nav {
  text-align: center;
}

ul{
  display: none;
}
input:checked  ~ ul{
  display:block;
}
input {
  display: none;
}

.fas {
  font-size: 2rem;
  margin-top: 2rem;
  border: 3px solid #000;
  border-radius: 1rem;
  padding: .5rem;
  width: 5rem;
}


nav li {
  padding: .5rem 1rem;
  background-color: var(--bgamarillo);
  border: .5rem solid var(--blanco);
  color: #fff;
  list-style: none;
  margin: 0.1rem;
  border-radius: 1rem;
  width: max(9rem);
  margin: .2rem;
  
}

nav li:hover{
  border: .4rem solid slateblue;
  background: linear-gradient(90deg, rgb(64, 0, 138) 22%, rgba(255,255,255,1) 100%);
  transform: scale(1.3);
  transition: 1s;
}

nav li a {
  color: var(--negro);
  text-decoration: none;
  font-family: var(--FuenteSec);
  font-size: 1.3rem;
}

nav li a:hover {
  color: var(--blanco);
}

nav li a:active{
  color: var(--blanco);
}

.activo {
  background-color: #ba9f1b;
  border: .4rem solid slateblue;
}

@media (min-width: 768px) {
    .header__arriba {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .ul__nav {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
    } 
    .fas {
      display: none;
    }
}


@media (min-width: 1260px) {
    .header__arriba {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }
    .ul__nav {
      flex-direction: row;
    }
}

/* ---------- fin .header_arriba */



.seccion-video {
  position: relative;
}

.header__video {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-sizing: inherit;
}

.header__text {
  font-family: var(--FuenteSec);
  color: var(--fuente);
  text-align: center;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10%;
}

/* ---------- fin HEADER ------------- */

/* ---------- inicio contenedor ------------- */

.contenedor {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
  padding-bottom: 2rem;
  background-color: var(--blanco);
}

@media (min-width: 1440px) {
  .contenedor {
    padding: 5rem 10rem 5rem 10rem;
  }
}

.section1__texto {
  display: flex;
  flex-direction: column;
}

.informacion1{
  padding: 2rem 2rem 0 2rem;
}

.informacion2{
  padding: 2rem;
}

.informacion1__title,
.informacion2__title {
  padding-bottom: 2rem;
}

@media (min-width: 1024px) {
  .contenedor {
    margin: 0 4rem 0 4rem;
  }

  .section1__texto {
    flex-direction:row;
  }
  .informacion1{
    padding: 2rem;
  }

  .informacion2{
    margin-top: 5rem;
    padding: 2rem;
  }
}


.informacion1__info,
.informacion2__info {
  font-size: 20px;
  text-align: justify;
  padding: 1rem 1rem 1rem 1rem;
}

/* seccion section2__imagenes inicio */

.section2__imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen {
  border: 1px solid rgb(71, 71, 71);
  margin-bottom: 2rem;
}

.imagen-1 {
  background-image: url(../img/1.jpg);
  background-size: cover;
  border-radius: 1rem;
  height: 300px;
  width: min(90%, 90rem);
}
.imagen-2 {
  background-image: url(../img/2.jpg);
  background-size: cover;
  border-radius: 1rem;
  height: 300px;
  width: min(90%, 90rem);
}
.imagen-3 {
  background-image: url(../img/3.jpg);
  background-size: cover;
  border-radius: 1rem;
  height: 300px;
  width: min(90%, 90rem);
}
.imagen-4 {
  background-image: url(../img/4.jpg);
  background-size: cover;
  border-radius: 1rem;
  height: 300px;
  width: min(90%, 90rem);
}

@media (min-width: 920px) {
    .section2__imagenes{
      display: grid;
      grid-template-areas: "uno      dos"
                            "tres   cuatro";
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      place-items: center;
      padding: 0rem 2rem 0rem 2rem;
      }

    .imagen-1 {
      grid-area: uno;
      height: 400px;
      width: min(90%, 30rem);
    }
    .imagen-2 {
      grid-area: dos;
      height: 400px;
      width: min(90%, 30rem);
    }
    .imagen-3 {
      grid-area: tres;
      height: 400px;
      width: min(90%, 30rem);
    }
    .imagen-4 {
      grid-area: cuatro;
      height: 400px;
      width: min(90%, 30rem);
    }
}


@media (min-width: 1240px) {
  .section2__imagenes{
    display: grid;
    grid-template-areas: "uno  uno   dos"
                          "tres  cuatro cuatro";
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    }

    .imagen-1 {
      grid-area: uno;
      width: min(90%, 80rem);
    }
    .imagen-2 {
      grid-area: dos;
      width: min(90%, 80rem);
    }
    .imagen-3 {
      grid-area: tres;
      width: min(90%, 80rem);
    }
    .imagen-4 {
      grid-area: cuatro;
      width: min(90%, 80rem);
    }
}

/* seccion section2__imagenes fin */


/* seccion section3 inicio */

.boton{
  width: min(90%, 20rem);
  height: 50px;
  display: block;
  margin: 0 auto;
  background-color: var(--bgamarillo);
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(39, 39, 39);
  font-weight: 600;
  border: 2px solid rgb(93, 93, 93);
  border-radius: 10px;
  margin: 2rem auto;
  cursor: pointer;
}

.boton:hover {
  background-color: #333333;
  color: var(--blanco);
  transform: scale(1.1);
  transition: 1.2s;
  
}

@media (min-width: 1200px) {

  .boton{
    margin-top: 5rem;
    transform: scale(2);
  }
    .boton__Texto{
      padding: 5rem 3rem;
    }
}

.section3 {
  padding: 0rem 2rem;
}

.section3 p {
  text-align: justify;
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--FuenteSec);
  font-size: 1.5rem;
  font-weight: 600;
}


.section3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
}

.section3__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorImagenes1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONTENEDOR IMAGENES */
.contenedorImagenes1__propiedades{
  background-size: cover;
  background-position: center;
  width: min(100%, 20rem);
  height: 20rem;
  border: 1px solid #000;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
 .contenedorImagenes1__img5{
  background-image: url(../img/5.png);
} 
 .contenedorImagenes1__img6{
  background-image: url(../img/6.png);
} 
 .contenedorImagenes1__img7{
  background-image: url(../img/7.jpg);
} 
/* CONTENEDOR IMAGENES FIN */


@media (min-width: 768px) {
  .section3__contenedorImagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  .contenedorImagenes1{
    width: min(100%, 20rem);
  }
}

/* ---- FOOTER ---- */
footer{
    text-align: center;
    padding: 0 30px 30px 30px;
}

footer h3 {
    padding-top: 20px;
    font-family: var(--FuenteSec);
}

footer i {
    font-size: 40px;
    margin: 0px 5px 0px 5px;
}

.footer__logos{
  display: flex;
  justify-content: center;
}

footer a{
    color: black;
}

footer a:hover{
    color: whitesmoke;
    transform: scale(1.3);
    transition: 1s;
}

/* ---------- FIN INDEX ------------- */



/* ---------- INICIO GALLERY ------------- */

.gallery_section1 h2 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.gallery_section1 iframe {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.gallery__grid img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 2rem;
  border: 4px solid rgb(255, 255, 255);
}

.gallery__grid img:hover {
  transform: scale(1.05);
  transition: .5s;
}

@media (min-width: 768px) {
  .gallery__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 1400px) {
  .gallery__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
}



.gallery_section1{
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
  text-align: justify;
}

/* ---------- FIN GALLERY ------------- */

/* ---------- INICIO BLOG ------------- */

.mainBlog{
  background-color: var(--blanco);
  margin: 4rem 2rem 2rem 2rem;
}

.tittle-blog{
  font-family: var(--FuenteSec);
  text-align: center;
  padding: 3rem 0;
  font-size: 3rem;
  text-transform: uppercase;

}

.notificacionPpal__img {
  width: min(90%, 19rem);
  height: 300px;
  display: block;
  margin: 0 auto 1.3rem auto;
  background-image: url(../img/admin.png);
  background-size: cover;
  background-position: center;
  
}

.notificacionPpal{
  padding: 0rem 2rem 2rem 2rem;
}

.notificacionPpal > p{
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 2rem;
  font-weight: 600;
  text-align: justify;
}

@media (min-width: 768px) {
    .notificacionPpal{
      display: flex;
    }
    .notificacionPpal > p {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
}

.separador {
  border-bottom: 2px solid rgb(70, 70, 70);
}
/* .separador:last-of-type{
  border-bottom: none;
}
 */

.user__img {
  width: min(100%, 19rem);
  height: 300px;
  display: block;
  margin: 0 auto 1.3rem auto;
  background-image: url(../img/user.webp);
  background-size: cover;
  background-position: center;
  
}

.articulo1__contenido{
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 2rem 2rem 2rem;
  font-weight: 600;
  text-align: justify;
}

.articulo1__footer {
  padding: 0rem 2rem 2rem 2rem;
  font-size: 1.3rem;
  font-family: var(--fuenteTer);
}

.contenedoArticulos > h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.aside {
  padding: 3rem;
}

.aside > h2 {
  padding-bottom: 1rem;
  text-align: center;
}
.aside > p {
  padding-bottom: 2rem;
  text-align: justify;
}


@media (min-width: 1024px) {
    .mainBlog__blog{
      display: flex;
    }
    .contenedoArticulos{
      width: 70%;
    }
    .aside{
      width: 30%;
      margin: 0;
     border-left: 1px solid rgb(95, 95, 95);
      padding: 1rem 3rem 1rem 1rem;
    }

    .separador{
      border: none;
    }
}







/* ---------- FIN BLOG ------------- */

/* ---------- INICIO CONTACT ------------- */

.titulo-contacto{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--FuenteSec);
    color: var(--fuente);
}

.info-contacto{
    padding: 5px 30px 20px 30px;
    color: var(--fuente);
    font-family: var(--FuenteSec);
    font-size: 1.3rem;
    text-align: justify;
}

.fieldset {
    margin: 0;
    width: 95%;
    background-color: #EEEEEE;
    border: 3px outset #000;
    padding: 20px;
    margin: auto;
    border-radius: 1rem;
}

@media (min-width: 768px) {
  .fieldset {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .fieldset {
    width: 70%;
  }
}

fieldset legend {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.label{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.mostrar{
  display: inherit;
  width: 100%;
  border: 3px solid rgb(73, 72, 72);
  height: 2.4rem;
  border-radius: 1rem;
  padding: .3rem;
  text-align: center;
}

.mostrar:hover {
  transform: scale(1.05);
  border: 3px solid rgb(81, 1, 88);
  transition: .5s;
}

.textarea{
  width: 100%;
  height: 8rem;
}

.display {
  display: inherit;
  width: 1.3rem;
  height: 1.3rem;
}
.delivered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivered > h3 {
  padding-bottom: 1rem;
  text-transform: uppercase;
}

/* ---------- FIN CONTACT ------------- */

/* ---------- INICIO ABOUT ------------- */
.about {
  background-color: var(--blanco);
  margin: 7rem 5rem 2rem 5rem;
 padding-bottom: 2rem;
}


.about > img {
  display: block;
  margin: 0 auto;
  width: min(90%, 40rem)
}

.about p {
  padding: 2rem 2rem;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}

.about__ImgWidth {
  border-radius: 1.5rem;
  height: 20rem;
}

.about__img40{
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: min(90%, 35rem);
  height: 20rem;
}

.about__img25{
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: min(90%, 20rem);
  height: 20rem;
}

@media (min-width: 1200px) {
    .about_2{
      display: flex;
    }
    .about_3{
      display: flex;
      justify-content: center;
    }
}