:root {
  --fuentePPal: "Poppins", sans-serif;
  --FuenteSec: 'Vollkorn SC', serif;
  --fuenteTer: 'Mochiy Pop P One', sans-serif;
  --bgamarillo: #f3d52e;
  --bgfooter: #d9004b;
  --blanco: #ffffff;
  --negro: #000000;
  --fuente: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*declaracion importante*/
html {
  box-sizing: border-box;
  color: var(--negro);
}

body {
  background-color: var(--bgamarillo);
  font-family: var(--fuentePPal);
}

h2 {
  font-family: var(--fuenteTer);
}

/* ---------- INICIO INDEX ------------- */
.header__arriba{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 0 3rem;
}

.header__link{
  display: flex;
  text-decoration: none;
  color: #000;
  font-family: var(--FuenteSec);
  font-size: 1.2rem;
}

.header__link:hover{
  transition: 1s;
  transform: scale(1.1);
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

header h1 {
  text-align: center;
}

.header__nav {
  text-align: center;
}

.ul__nav {
  display: flex;
}

nav li {
  padding: 5px 10px;
  background-color: var(--bgamarillo);
  border: 5px solid var(--blanco);
  color: #fff;
  list-style: none;
  margin: 0.1rem;
  border-radius: 10px;
  width: 140px;
}

nav li:hover{
  border: 5px solid slateblue;
  background-color: #ba9f1b;
  transform: scale(1.3);
  transition: 1s;
}

nav li a {
  color: var(--negro);
  text-decoration: none;
  font-family: var(--FuenteSec);
  font-size: 25px;
}

nav li a:active{
  color: var(--blanco);
}

.activo {
  background-color: #ba9f1b;
  border: 5px solid slateblue;
}

.seccion-video {
  position: relative;
}

.header__video {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-sizing: inherit;
}

.header__text {
  font-family: var(--FuenteSec);
  color: var(--fuente);
  text-align: center;
  font-size: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10%;
}

.contenedor {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
  padding-bottom: 10rem;
  background-color: var(--blanco);

}

.section1__texto {
  display: flex;
}

.informacion1,.informacion2
{
  width: 50%;
}

.informacion1__title,
.informacion2__title {
  font-size: 30px;
  padding: 40px 0px 20px 40px;
}
.informacion1__info,
.informacion2__info {
  font-size: 20px;
  text-align: justify;
  padding: 0px 50px 20px 80px;
}

.section__imagenes {
  padding: 0rem 3rem 3rem 3rem;
}

.imagen1,
.imagen2,
.imagen3,
.imagen4 {
  width: 50%;
  padding: 2rem;
}

.boton{
  width: 400px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background-color: var(--bgamarillo);
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--fuente);
  font-weight: 600;
  border: 1px solid var(--fuente);
  border-radius: 10px;
  margin: 2rem auto;

}

.section3 {
  padding: 0rem 5rem;
}

.section3 p {
  text-align: justify;

}

.section3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
}

.section3__contenedor {
  display: flex;
}

.section3__contenedor p {
  padding: 0 1rem;
  text-align: left;
}


/* ---- FOOTER ---- */
footer{
    text-align: center;
    padding: 0 30px 30px 30px;
}

footer h3 {
    padding-top: 20px;
    font-family: var(--FuenteSec);
}

footer i {
    font-size: 40px;
    margin: 0px 5px 0px 5px;
}

.footer__logos{
  display: flex;
  justify-content: center;
}

footer a{
    color: black;
}

footer a:hover{
    color: whitesmoke;
    transform: scale(1.3);
    transition: 1s;
}

/* ---------- FIN INDEX ------------- */

/* ---------- INICIO GALLERY ------------- */

.gallery_section1 h2 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.gallery_section1 iframe {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery__grid img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  padding: 1rem;
}

.gallery_section1{
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
  text-align: justify;
}

/* ---------- FIN GALLERY ------------- */

/* ---------- INICIO BLOG ------------- */

.tittle-blog{
  font-family: var(--FuenteSec);
  text-align: center;
}

.coderack-article img {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.user-article img {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}


/* ---------- FIN BLOG ------------- */

/* ---------- INICIO CONTACT ------------- */

.titulo-contacto{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--FuenteSec);
    color: var(--fuente);
}

.info-contacto{
    padding: 5px 30px 20px 30px;
}

section fieldset {
    margin: 2rem auto;
    width: 600px;
    background-color: #EEEEEE;
    border: 3px outset #000;
    padding: 20px;
}

fieldset legend {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    
}

.label{
    font-size: 15px;
    font-weight: 600;
    
}


/* ---------- FIN CONTACT ------------- */

/* ---------- INICIO ABOUT ------------- */

.about img {
  display: block;
  margin: 0 auto;
}

.about p {
  padding-left: 2rem;
  padding-right: 2rem;
}


.about__img40 {
  width: 40%;
}

.about__img25 {
  width: 25%;
}
